In [16]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

C:\Users\ANUSHREETA\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [17]:
data=pd.read_csv("C:\\Users\\ANUSHREETA\\Documents\\dsLab\\ds_lab\\basket.csv")

C:\Users\ANUSHREETA\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14963 entries, 0 to 14962
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       14963 non-null  object
 1   1       14963 non-null  object
 2   2       4883 non-null   object
 3   3       2185 non-null   object
 4   4       795 non-null    object
 5   5       451 non-null    object
 6   6       276 non-null    object
 7   7       196 non-null    object
 8   8       51 non-null     object
 9   9       1 non-null      object
 10  10      1 non-null      object
dtypes: object(11)
memory usage: 1.3+ MB

C:\Users\ANUSHREETA\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [4]:
data.isna().sum()

C:\Users\ANUSHREETA\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

0         0
1         0
2     10080
3     12778
4     14168
5     14512
6     14687
7     14767
8     14912
9     14962
10    14962
dtype: int64

In [5]:
data.describe()

C:\Users\ANUSHREETA\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,0,1,2,3,4,5,6,7,8,9,10
count,14963,14963,4883,2185,795,451,276,196,51,1,1
unique,165,165,154,146,126,101,88,72,35,1,1
top,whole milk,whole milk,whole milk,whole milk,whole milk,shopping bags,yogurt,whole milk,shopping bags,curd,newspapers
freq,1083,983,244,111,39,25,19,14,4,1,1

In [6]:
data=data.fillna('')

C:\Users\ANUSHREETA\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [7]:
print(data)

                           0                   1                    2       3  \
0                 whole milk              pastry          salty snack
1                    sausage          whole milk  semi-finished bread  yogurt
2                       soda  pickled vegetables
3                canned beer     misc. beverages
4                    sausage    hygiene articles
...                      ...                 ...                  ...     ...
14958            butter milk  whipped/sour cream
14959          bottled water               herbs
14960  fruit/vegetable juice              onions
14961           bottled beer    other vegetables
14962                   soda     root vegetables  semi-finished bread

      4  5  6  7  8  9  10
0
1
2
3
4
...   .. .. .. .. .. .. ..
14958
14959
14960
14961
14962

[14963 rows x 11 columns]

C:\Users\ANUSHREETA\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [8]:
df=pd.DataFrame(data)

C:\Users\ANUSHREETA\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [9]:
df

C:\Users\ANUSHREETA\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,0,1,2,3,4,5,6,7,8,9,10
0,whole milk,pastry,salty snack,,,,,,,,
1,sausage,whole milk,semi-finished bread,yogurt,,,,,,,
2,soda,pickled vegetables,,,,,,,,,
3,canned beer,misc. beverages,,,,,,,,,
4,sausage,hygiene articles,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
14958,butter milk,whipped/sour cream,,,,,,,,,
14959,bottled water,herbs,,,,,,,,,
14960,fruit/vegetable juice,onions,,,,,,,,,
14961,bottled beer,other vegetables,,,,,,,,,
14962,soda,root vegetables,semi-finished bread,,,,,,,,

In [10]:
df.isna().sum()

C:\Users\ANUSHREETA\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64

In [11]:
oht = pd.get_dummies(df)

C:\Users\ANUSHREETA\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [12]:
frequent_item_sets = apriori(oht, min_support=0.4, use_colnames=True)

C:\Users\ANUSHREETA\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [13]:
association_rules_df = association_rules(frequent_item_sets, metric='confidence', min_threshold=0.7)

C:\Users\ANUSHREETA\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [14]:
association_rules_df

C:\Users\ANUSHREETA\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(2_),(3_),0.673662,0.853973,0.673662,1.000000,1.170997,0.098373,inf,0.447471
1,(3_),(2_),0.853973,0.673662,0.673662,0.788856,1.170997,0.098373,1.545571,1.000000
2,(2_),(4_),0.673662,0.946869,0.673662,1.000000,1.056112,0.035792,inf,0.162810
3,(4_),(2_),0.946869,0.673662,0.673662,0.711462,1.056112,0.035792,1.131008,1.000000
4,(2_),(5_),0.673662,0.969859,0.673662,1.000000,1.031078,0.020305,inf,0.092361
...,...,...,...,...,...,...,...,...,...,...
15995,"(2_, 10_)","(6_, 8_, 4_, 3_, 9_, 7_, 5_)",0.673662,0.853973,0.673662,1.000000,1.170997,0.098373,inf,0.447471
15996,"(2_, 5_)","(6_, 8_, 4_, 3_, 9_, 7_, 10_)",0.673662,0.853973,0.673662,1.000000,1.170997,0.098373,inf,0.447471
15997,(4_),"(6_, 8_, 3_, 9_, 7_, 10_, 2_, 5_)",0.946869,0.673662,0.673662,0.711462,1.056112,0.035792,1.131008,1.000000
15998,(3_),"(6_, 8_, 4_, 9_, 7_, 10_, 2_, 5_)",0.853973,0.673662,0.673662,0.788856,1.170997,0.098373,1.545571,1.000000
15999,(2_),"(6_, 8_, 4_, 3_, 9_, 7_, 10_, 5_)",0.673662,0.853973,0.673662,1.000000,1.170997,0.098373,inf,0.447471

In [15]:
frequent_item_sets

C:\Users\ANUSHREETA\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

      support                               itemsets
0    0.673662                                   (2_)
1    0.853973                                   (3_)
2    0.946869                                   (4_)
3    0.969859                                   (5_)
4    0.981555                                   (6_)
..        ...                                    ...
506  0.673662      (6_, 8_, 4_, 3_, 9_, 7_, 10_, 2_)
507  0.673662      (6_, 8_, 3_, 9_, 7_, 10_, 2_, 5_)
508  0.673662      (6_, 8_, 4_, 9_, 7_, 10_, 2_, 5_)
509  0.853973      (6_, 8_, 4_, 3_, 9_, 7_, 10_, 5_)
510  0.673662  (6_, 8_, 4_, 3_, 9_, 7_, 10_, 2_, 5_)

[511 rows x 2 columns]